<main class="dashboard">

	<div class="wrapper">
		<section class="message">

			<div class='wrapper'>
				<h1>Thank you for volunteering with VoterVOX!</h1>
			</div><!--.wrapper-->
			
		</section><!--.message-->

		<section class="next-steps">

			<div class="wrapper">

				<h2>How to Get Started</h2>
				<ul>
					<li><strong>Step 1:</strong> Review your matches. <a href="<% matches_path %>" class="small button btn-outline">View Matches</a></li>
					<li><strong>Step 2:</strong> Accept which voters you'd like to work with.</li>
					<li><strong>Step 3:</strong> Confirm a time and location.</li>
					<li><strong>Step 4:</strong> Meet with your voters and help them understand the ballot, issues, and anything else they need help with.</li>
					<li><strong>Step 5:</strong> Translate voting documents and upload them to our database to help even more people.</li>
					<li><strong>Step 6:</strong> Be proud of yourself for making democracy accessible to everyone.</li>
				</ul>

			</div><!--.wrapper-->

		</section><!--.next-steps-->

	</div><!--.wrapper-->
</main><!--.dashboard-->