<footer class="site-footer">

  <div class="wrapper">
		
		<h3>Who Are We?</h3>
		<p><strong>18MR.org</strong> is a nonprofit online hub for social change and civic participation serving Asian Americans and Pacific Islanders (AAPIs) in the United States. We serve a network of more than 80 organizational partners–civic engagement, community organizing, policy advocacy, and new media groups–plus over 80,000 individual members.</p>
		
		<ul class="site-nav">
			<li class="page-link"><a href="{{ site.url }}">Home</a></li>
			<li class="page-link"><a href="/about">About</a></li>
			<li class="page-link"><a href="https://github.com/18mr/votervox">Github</a></li>
			<li class="page-link"><a href="/blog">Blog</a></li>
			<li class="page-link"><a href="/press">Press</a></li>
			<li class="page-link"><a href="http://www.facebook.com/votervox">Facebook</a></li>
			<li class="page-link"><a href="http://www.twitter.com/votervox">Twitter</a></li>
		</ul>
	
  </div>

</footer>
