<footer class="site-footer">

  <div class="wrapper">
		
		<h3>Who Are We?</h3>
		<p><strong><a href="http://18MR.org" target="_blank">18MR.org</a></strong> is a nonprofit online hub for social change and civic participation serving Asian Americans and Pacific Islanders (AAPIs) in the United States. For the past three years, we've convened a network of creative, tech-savvy, and passionate individuals and organizations working with AAPI communities across the country. We’re agile, inspired, and create opportunities by bringing diverse partners into unlikely coalitions. 21st century community power can be built through smart tech and good organizing, and our campaign wins and vision are testament to how we can bring them together.</p>
		
		<ul class="site-nav">
			<li class="page-link"><a href="{{ site.url }}">Home</a></li>
			<li class="page-link"><a href="{{ site.baseurl }}/about">About</a></li>
			<li class="page-link"><a target="_blank" href="https://github.com/18mr/votervox">Github</a></li>
			<li class="page-link"><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li class="page-link"><a href="{{ site.baseurl }}/press">Press</a></li>
			<li class="page-link"><a target="_blank" href="http://www.facebook.com/votervox">Facebook</a></li>
			<li class="page-link"><a target="_blank" href="http://www.twitter.com/votervox">Twitter</a></li>
		</ul>
	
  </div>

</footer>
