<header class="home-header">

  <div class="wrapper">
  
    <div class="longhead">
	
		<div class="logo">
			<a href="{{ site.url }}"><img src="{{ site.baseurl }}/static/images/logo-white.png" alt="VoterVOX logo"></a>
		</div>

		<div class="mobile-nav-open">
			<a href="#!" id="mobile-nav-open"></a>
		</div>
	
		<ul class="site-nav">
			<li class="page-link"><a href="{{ site.baseurl }}/about">About</a></li>
			<li class="page-link"><a target="_blank" href="https://github.com/18mr/votervox">Github</a></li>
			<li class="page-link"><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li class="page-link"><a href="{{ site.baseurl }}/press">Press</a></li>
			<li class="page-link"><a target="_blank" href="http://www.facebook.com/votervox">Facebook</a></li>
			<li class="page-link"><a target="_blank" href="http://www.twitter.com/votervox">Twitter</a></li>
		</ul>
		
		<div class="tagline">
			<img src="{{ site.baseurl }}/static/images/democracy-in-every-language.png" alt="Democracy in Every Language">
		</div>
		
		<div class="aboutline">
			<p>VoterVOX is a civic technology tool that connects eligible voters and multilingual volunteers to ensure every voter has access to ballots and voting information in their language, for every election.</p>
		</div>
		
		<div class="igg-button">
			<a href="http://action.18mr.org/votervox">Chip in to Support Democracy in Every Language</a>
		</div>
	
	</div>
	
  </div>

</header>
