<header class="home-header">

  <div class="wrapper">
  
    <div class="longhead">
	
		<div class="logo">
			<a href="{{ site.url }}"><img src="{{ baseurl }}/static/images/logo-white.png" alt="VoterVOX logo"></a>
		</div>
	
		<ul class="site-nav">
			<li class="page-link"><a href="/about">About</a></li>
			<li class="page-link"><a href="https://github.com/18mr/votervox">Github</a></li>
			<li class="page-link"><a href="/blog">Blog</a></li>
			<li class="page-link"><a href="/press">Press</a></li>
			<li class="page-link"><a href="http://www.facebook.com/votervox">Facebook</a></li>
			<li class="page-link"><a href="http://www.twitter.com/votervox">Twitter</a></li>
		</ul>
		
		<div class="tagline">
			<img src="{{ baseurl }}/static/images/democracy-in-every-language.png" alt="Democracy in Every Language">
		</div>
		
		<div class="aboutline">
			<p>VoterVOX is a civic technology tool that connects eligible voters and multilingual volunteers to ensure every voter has access to ballots and voting information in their language, for every election.</p>
		</div>
		
		<div class="igg-button">
			<a href="http://bit.ly/VoterVOX">Back Us On Indiegogo</a>
		</div>
	
	</div>
	
  </div>

</header>
