/**
 * Site header
 */
.site-header {
	padding: $spacing-unit ($spacing-unit/2);
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    
    .wrapper {
    	padding:0px;
    }
	
	.logo {
		float: left;
	
		img {
			width: 250px;
			
			@include media-query($on-palm) {
				display: block;
				max-width:190px;
				margin-top:5px;
			}
			
			@media screen and (max-width:380px) {
				max-width:150px
			}
		}
	}
}

.home-header {

	.wrapper {
		padding: 0;
		margin: 0;
		max-width: 100%;

		.longhead {
			background-image: url($site-base-url+"/static/images/campaign/users-library.png");
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			min-height: 500px;
			
			/* Fixes for Android Browser background image on homepage */
			@include media-query($on-laptop) {
				background-attachment:initial;
			}
			
			.logo {
				padding-left: 5em;
				padding-top: 3em;
				float: left;
				max-width: 500px;
				
				@include media-query($on-laptop) {
					padding-left: 2em;
					padding-top: 2em;
					padding-bottom: 2em;
				}
				
				img {
					@media screen and (max-width:380px) {
						max-width:150px
					}
				}


			}
			
			.tagline {
				width: 40%;
				margin: auto;
				clear: both;

				@include media-query($on-laptop) {
					width:auto;
					margin:0px 15px;
					text-align:center;
				}
				
				img {
					margin-top: ($spacing-unit*2);
					width: 100%;

					@include media-query($on-laptop) {
						width: 100%;
						max-width:430px;
						padding:0px;
					}
					@include media-query($on-palm) {
						margin-top:0px;
					}

					
				}
			}
			
			.aboutline {
				width: 70%;
				margin: auto;
				text-align: center;
				padding: ($spacing-unit*1.5) 0;
			
				p {
					color: white;
					font-size: 1.1em;
				}

				@include media-query($on-laptop) {
					width: auto;
					max-width:430px;
					padding:45px 15px;
				}
				
			}
			
			.igg-button {
				width: 300px;
				margin: auto;
				text-align: center;
				padding-bottom: ($spacing-unit*4);
				
				@include media-query($on-palm) {
					width: 250px;
					padding-bottom: ($spacing-unit*2);
				}
				
				a {
					display: block;
					padding: 10px;
					border: white 1px solid;
					color: white;
					@include radius(30px);
					
					&:hover {
						background-color: #FFF;
						color: $the-pink;
						@include fade-transition(200ms);
					}
				}
			}
		}
		
		.site-nav {
			padding-top: 2.5em;
			padding-right:60px;

			.page-link a {
				color: white;

				@include media-query($on-laptop) {
					color:$the-pink;
				}
			}
		}

	}
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
	list-style: none;
	padding: 0;
	padding-right:60px;
	
	@media screen and (min-width:$on-laptop) {
		display:block !important;
	}

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
		display: inline;

		 @include media-query($on-laptop) {
		 	display:block;
		 	width:auto;
		 	margin-left:0px !important;
		 	border-bottom:1px solid #ccc;
		 }

		a {

			@include media-query($on-laptop) {
				color:$the-pink;
				padding:10px 0px;
				display:block;
			}
		}

		a:hover {
			text-decoration:underline;
		}

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

    }

    .page-link:last-child {
    	@include media-query($on-laptop) {
    		border-bottom:0px;
    	}
    }

	@include media-query($on-laptop) {
	    width: auto;
	    background-color: white;
	    margin: 0px;
	    padding: 10px !important;
	    float: none;
	    clear: both;
	    margin-bottom:$spacing-unit;
	    display: none;
	 }

    @include media-query($on-palm) {
		float: none;
		padding: 0;

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
* Mobile Menu/Header
*/
.mobile-nav-open {
	display:none;
	background-image: url($site-base-url+"/static/images/mobile-menu-open.png");
	background-repeat:no-repeat;
	background-size:100%;
	width:26px;
	height:18px;
	margin:$spacing-unit/2;
	float:right;

	a {
		display:block;
		width:26px;
		height:18px;
	}

	@include media-query($on-laptop) {
		display:block;
	}

}

.mobile-nav-open.open {
	background-image: url($site-base-url+"/static/images/mobile-menu-close.png");
}

/**
* Email Signup & Magnific Popup
*/

.mfp-bg {
	background-color:#89d631 !important;
	opacity:.9 !important;
}

.mfp-wrap { // fix for safari 5.1
	-webkit-backface-visibility:initial !important;
}

.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

#indie-gogo-pop {
	position:relative;
	background:white;
	max-width:550px;
	margin:auto;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	
	#signupbox {
		padding:50px;
		max-width:100%;
		width:auto;

		@include media-query($on-palm) {
			padding:$spacing-unit 15px;
		}
		
		.homepage-button {
			@include media-query($on-palm) {
				width:200px;
			}
		}				
	}
	
	h4 {
		font-weight:700;
		text-align:center;
		font-size:28px;
		margin-bottom:5px;
		color: #60a8cd;
		line-height:30px;
	}
	
	p {
		margin-bottom:25px;
	}
}

#email-signup {
	position:relative;
	background:white;
	max-width:550px;
	margin:auto;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	
	#can_main_col {
		display:none;
	}
	
	#action_welcome_message {
		padding:0px;	
	}
	
	#action_welcome_message_inner {
		border:0px !important;
		padding:0px !important;
		
		small {
			display:none;
		}
		
		.left {
			width:100% !important;
			text-align:center;
		}
	}
	
	.ajax-loading {
		position:relative;
		top:11px !important;
		left:-42px;
	}
	
	#can_thank_you {
		background-color:#FFF !important;
		border-radius:10px;	
		padding:50px !important;
		
		h1 {
			font-weight:700;
			text-align:center;
			font-size:28px;
			margin-bottom:0px !important;
			color: #60a8cd;	
			text-shadow:none !important;	
		}
	}
	
	#can_sidebar {

		padding:50px 100px;
		overflow:hidden;
		text-align:center;
		
		@include media-query($on-palm) {
			padding:$spacing-unit 15px;
		}
		
		#new_signature {			
			margin: auto;
			overflow: hidden;
			width: 330px !important;
			
			@include media-query($on-palm) {
				width: 250px !important;
			}
		}
		
		h4 {
			font-weight:700;
			text-align:center;
			font-size:28px;
			margin-bottom:5px;
			color: #60a8cd;
		}
		
		p {
			margin-bottom:25px;
		}
		
		.action_status_tracker, #form-first_name, #form-last_name, 
		#form-comments, #d_sharing, .country_wrap, #form-zip_code {
			display:none;
		}
		
		#error_message {
			clear:both;
			background-color:#FFF;
			color:#ea2485;
			padding:0px;
			
			strong {
				color:#ea2485;
			}
		}
		
		input {
			border-radius:30px 0px 0px 30px;
			padding:0px 25px;
			float:left;
			max-width:250px;
			height:52px;
			
			@include media-query($on-palm) {
				max-width:150px;
			}
			
			&[type="submit"] {
				line-height:0px;
				border-radius: 0px 30px 30px 0px;
				padding: 25px;
				max-width: 80px;
				margin: auto;
				text-shadow: none;
				font-size: 15px;
				font-weight: 400;
				background-color:#ea2485;
			}
			
			&.signed-in {
				max-width:100%;
				border-radius:30px;
			}
			
			&[type="submit"]:hover {
				background-color:#60a8cd;
			}
			
			&.error_input {
				background-color:#fff;
				border:1px solid #ea2485;
				color:gray;
				
				&::-webkit-input-placeholder { color:#CCC;}
				&:-moz-placeholder { /* Firefox 18- */ color: #CCC;}
				&::-moz-placeholder {  /* Firefox 19+ */ color: #CCC; }
				&:-ms-input-placeholder { color: #CCC;  }

			}
			
		}
	}

}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0px 0px 0px;
	background-image: url($site-base-url+"/static/images/footergradient.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	
	.wrapper {
		padding: $spacing-unit;
		padding-left: 30px;
		padding-right:30px;
		max-width:1140px;
		
		@include media-query($on-laptop) {
			padding-left: 15px;
			padding-right:15px;
		}
		
		a {
			color:#FFF;
		}

		a:hover {
			text-decoration:underline;
		}

		.site-nav {
			padding-top: 2.5em;
			float: left;
			margin-left: 0;
			padding: 0;
		
			.page-link a {
				color: white;
			}
			
			&:first-child a {
				margin-left:0px;
			}

			@include media-query($on-laptop) {
			 	display:block;
			 	background:none;
			 	padding:0px !important;

			 	.page-link:first-child {
			 		margin-left:0px;
			 	}

			 	.page-link {
			 		display:inline;
			 		margin:0px !important;
			 		border-bottom:0px;
			 		padding:0px;

			 		a {
			 			display:inline;
			 			float:left;
			 			padding:5px 15px 5px 0px !important;
			 			font-size:14px;
			 		}

			 	}

			 }
		}
	}
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
    margin-bottom:$spacing-unit;
	
	iframe {
		max-width:100%;
	}
	
	.pagetop {
		text-align: center;
		font-weight: bold;
	}

	.home {
		padding: $spacing-unit*3 0px;
		
		@include media-query($on-palm) {
			padding: $spacing-unit 0px;
		}

		h1 {
		    text-align: center;
		    font-weight: 700;
		    font-size: 34px;
		    letter-spacing: -1px;
		    color:$the-pink;
		    margin-bottom:$spacing-unit;
		}

	}
}

.page-heading {
    font-size: 20px;
}

.home {
	.mobile-nav-open {
		background-image: url($site-base-url+"/static/images/mobile-menu-open-home.png");
		margin:2.7em 3em;
	}

	.mobile-nav-open.open {
		background-image: url($site-base-url+"/static/images/mobile-menu-close-home.png");
	}
	.page-content {
		margin-bottom:0px;
	}
	
	site-nav {
		
	}
	
	.site-nav .page-link:not(:first-child) {
		margin-left:20px;
	}

	.featureimage {
		width:100%;
		margin:0px;
	}
	
	.aboutline {
		width:auto;
		padding-left:10px;
		padding-right:10px;
	}
}

.posts {
	margin:0px;

	.featured-img {
		overflow:hidden;
	}

	h2 {
		line-height:$spacing-unit;
		margin-bottom:$spacing-unit / 3;
	}
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.featureimage {
	width: 70%;
	margin: auto;
	text-align: center;
	padding: $spacing-unit 0;
}

.homepage-button {
	width: 300px;
	margin: auto;
	text-align: center;
	padding-bottom: 0px;
	
	@include media-query($on-palm) {
		width:250px;
	}
				
	a {
		display: block;
		padding: 10px;
		border: $the-blue 1px solid;
		color: $the-blue;
		@include radius(30px);
				
		&:hover {
			background-color: $the-blue;
			color: #FFF;
			@include fade-transition(200ms);
		}
	}
}



.right {
	float: right;
}

.left {
	float: left;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.featured {
	max-width: 40%;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
  * Action Network
  */
  
#can_embed_form_inner {
	h2 {
		display: none;
	}
	
	h3 {
		display: none;
	}
	
	h4 {
		display: none;
	}
	
	textarea {
		display: none;
	}
	
	.action_info_user {
		display: none;
	}
	
	#logo_wrap {
		display: none;
	}
	
	.country_wrap {
		display: none;
	}
	
	#d_sharing {
		display: none;
	}
	
	#form-first_name, #form-last_name, #form-zip_code {
		display: none;
	}
	
	#form_col1 {
		float: left;
	}
	
	#form_col2 {
		display: inline;
	}
	
	.can_embed {
		padding: 0 25px;
	}
	
	input[type="submit"] {
		text-decoration: none;
		display: inline;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 5px 10px;
		border: 1px solid rgba(0, 0, 0, .04);
		line-height: 1em;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		color: #FFFFFF;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		text-align: center;
		outline: none;
		-webkit-appearance: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display: block;
		width: 150px;
		white-space: normal;
		background-color: #ea2485 !important;
		font-family: Spartan;
		font-size: 18px !important;
		font-weight: 400 !important;
		text-transform: uppercase;
	}
	
	#form-email {
		margin: 5px;
	}
}

.can_thank_you_wrap {
	#action_info {
		display: none;
	}
	
	.clearfix {
		display: none;
	}
	
	#logo_wrap {
		display: none;
	}
	
	h4 {
		display: none;
	}
}

#can-petition-area-sign-up-for-votervox-updates {
	padding: 7px;
}

#signupbox {
	margin-top:50px !important;
	max-width: 60%;
	margin: auto;
	text-align: center;

	@include media-query($on-laptop) {
		max-width: 100%;
	}

}