/**
 * Site header
 */
.site-header {
	padding: $spacing-unit;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
	
	.logo {
		float: left;
	
		@include media-query($on-palm) {
			width: 100%;
		}

		img {
			width: 250px;
			
			@include media-query($on-palm) {
				width: 60%;
				margin: auto;
				display: block;
			}
		}
	}
}

.home-header {

	.wrapper {
		padding: 0;
		margin: 0;
		max-width: 100%;

		.longhead {
			background-image: url("/static/images/campaign/users-library.png");
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			min-height: 500px;
			
			.logo {
				padding-left: 5em;
				padding-top: 3em;
				float: left;
				max-width: 500px;
			}
			
			.tagline {
				width: 40%;
				margin: auto;
				
				img {
					margin-top: ($spacing-unit*2);
					width: 100%;
				}
			}
			
			.aboutline {
				width: 70%;
				margin: auto;
				text-align: center;
				padding: ($spacing-unit*1.5) 0;
			
				p {
					color: white;
					font-size: 1.1em;
				}
			}
			
			.igg-button {
				width: 300px;
				margin: auto;
				text-align: center;
				padding-bottom: ($spacing-unit*2);
				
				a {
					display: block;
					padding: 10px;
					border: white 1px solid;
					color: white;
					@include radius(30px);
					
					&:hover {
						background-color: lighten($the-pink, 30%);
						@include fade-transition(500ms);
					}
				}
			}
		}
		
		.site-nav {
			padding-top: 2.5em;
		
			.page-link a {
				color: white;
			}
		}
	}
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
	list-style: none;
	padding: 0 ($spacing-unit*2);

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
		display: inline;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
		float: none;
		padding: 0;
        
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
	background-image: url("/static/images/footergradient.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-position-y: 200px;
	color: white;
	
	.wrapper {
		padding: ($spacing-unit*2);
		
		.site-nav {
			padding-top: 2.5em;
			float: left;
			margin-left: 0;
			padding: 0;
		
			.page-link a {
				color: white;
			}
		}
	}
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
	
	.pagetop {
		text-align: center;
		font-weight: bold;
	}
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.featureimage {
	width: 70%;
	margin: auto;
	text-align: center;
	padding: $spacing-unit 0;
}

.homepage-button {
	width: 300px;
	margin: auto;
	text-align: center;
	padding-bottom: ($spacing-unit*2);
				
	a {
		display: block;
		padding: 10px;
		border: $the-blue 1px solid;
		color: $the-blue;
		@include radius(30px);
				
		&:hover {
			background-color: lighten($the-pink, 30%);
			@include fade-transition(500ms);
		}
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.featured {
	max-width: 40%;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
  * Action Network
  */
  
#can_embed_form_inner {
	h2 {
		display: none;
	}
	
	h3 {
		display: none;
	}
	
	h4 {
		display: none;
	}
	
	textarea {
		display: none;
	}
	
	.action_info_user {
		display: none;
	}
	
	#logo_wrap {
		display: none;
	}
	
	.country_wrap {
		display: none;
	}
	
	#d_sharing {
		display: none;
	}
	
	#form-first_name, #form-last_name, #form-zip_code {
		display: none;
	}
	
	#form_col1 {
		float: left;
	}
	
	#form_col2 {
		display: inline;
	}
	
	.can_embed {
		padding: 0 25px;
	}
	
	input[type="submit"] {
		text-decoration: none;
		display: inline;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 5px 10px;
		border: 1px solid rgba(0, 0, 0, .04);
		line-height: 1em;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		color: #FFFFFF;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
		text-align: center;
		outline: none;
		-webkit-appearance: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display: block;
		width: 150px;
		white-space: normal;
		background-color: #ea2485 !important;
		font-family: Spartan;
		font-size: 18px !important;
		font-weight: 400 !important;
		text-transform: uppercase;
	}
	
	#form-email {
		margin: 5px;
	}
}

.can_thank_you_wrap {
	#action_info {
		display: none;
	}
	
	.clearfix {
		display: none;
	}
	
	#logo_wrap {
		display: none;
	}
	
	h4 {
		display: none;
	}
}

#can-petition-area-sign-up-for-votervox-updates {
	padding: 7px;
}

#signupbox {
	max-width: 60%;
	margin: auto;
	text-align: center;
}