<div class="share-with-community">

	<div class="share-title">Share with Your Community</div>
	
	<div class="buttons">
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://beta.votervox.org" class="popup-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="https://twitter.com/intent/tweet?text=VoterVOX" class="popup-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="mailto:?subject=VoterVOX&amp;body=www.votervox.org" class="popup-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<div class="clear-fix"></div>
	</div>

</div><!--.share-with-community-->
<div class="terms">
	<ul>
		<li><a href="<%= about_path %>">About VoterVOX</a></li>
		<li><a href="<%= homepage_path %>">&copy; VoterVOX</a></li>
		<li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
		<li><a href="<%= terms_of_service_path %>">Terms</a></li>
		<div class="clear-fix"></div>
	</ul>
	<div class="clear-fix"></div>
</div>