<div class="share-with-community">

	<div>Share with Your Community</div>
	
	<div class="buttons">
		<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="" class=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<div class="clear-fix"></div>
	</div>

</div><!--.share-with-community-->
<div class="terms">
	<ul>
		<li><a href="/about">About VoterVOX</a></li>
		<li><a href="/">&copy; VoterVOX</a></li>
		<li><a href="/privacy">Privacy Policy</a></li>
		<li><a href="/terms">Terms</a></li>
	</ul>
	<div class="clear-fix"></div>
</div>