<div class="share-with-community">

	<div>Share with Your Community</div>
	
	<div class="buttons">
		<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="" class=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<div class="clear-fix"></div>
	</div>

</div><!--.share-with-community-->
<div class="terms">
	<ul>
		<li><a href="<%= about_path %>">About VoterVOX</a></li>
		<li><a href="<%= homepage_path %>">&copy; VoterVOX</a></li>
		<li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
		<li><a href="<%= terms_of_service_path %>">Terms</a></li>
	</ul>
	<div class="clear-fix"></div>
</div>