<aside class="tablet desktop">
	<a class="brand">VoterVox</a>
	<div class="volunteer-dashboard">
		<% if admin_signed_in? %>
			<h1>Admin Dashboard</h1>
		<% else %>
		
		<h1>Volunteer Dashboard</h1>
		<% end %>
	</div><!--.volunteer-dashboard-->

	<% if admin_signed_in? %>
		<a class="button pink" href="/volunteers">Volunteers</a>
		<a href="/organizations" <% if organization_home? %>class="selected button"<%else%>class="pink button"<% end %>>Organizations</a>
		<a href="/metrics" class="button pink" >Metrics</a>
	<% else %>
		<a <% if volunteer_home? %>class="selected button"<% else %> class=" button"<% end %> >Getting Started</a>
		<a href="/matches" class="pink button">Your Matches</a>
	<% end %>

	<a href="/resources" class="pink button">Voter Resources</a>
	<a class="button">
		Give Feedback
	</a><!--.mobile-only-->
	<%= link_to('Logout', destroy_volunteer_session_path, :method => :delete, class: "button") %>
	<div class="share-with-community">
		<div>Share with Your Community</div>
		<div class="buttons">
			<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="" class=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
			<div class="clear-fix"></div>
		</div>

	</div><!--.share-with-community-->
	<div class="terms">
		<ul>
			<li><a href="/about">About VoterVOX</a></li>
			<li><a href="">&copy; VoterVOX</a></li>
			<li><a href="">Privacy Policy</a></li>
			<li><a href="">Terms</a></li>
		</ul>
		<div class="clear-fix"></div>
	</div>

</aside>