<main class="dashboard">
	<section class="message">
		<h1>We're sorry to see you go.</h1>

	</section><!--.message-->
	<section class="translator-selection">
		<h2>Nevermind, I'd like a translator match</h2>
		<%= link_to 'Submit a Match Request', activate_voter_path(@voter), class: "btn-outline" %>

	</section><!--.next-steps-->

</main>