Hi <%= @firstname %>,<br/><br/>

We’re so glad you’re volunteering with us!<br/><br/>

Before you can get matched, please get oriented by <a href="https://blog.votervox.org/how-to-be-a-votervox-translator-95c1ef72630d">reading this how-to</a>. At the end, you’ll be quizzed on your knowledge, and then a VoterVOX administrator will approve you to start meeting with voters. Orientation will take about 30 minutes total, and most volunteers will be approved the next day.<br/><br/>

After you're approved, we’ll give you some voter matches to accept or decline. We’ll then connect you with the ones that also accept you as their translator, too, and the two of you can communicate directly to set up a meeting where you can help them with their questions about the ballot.<br/><br/>

Ready to get started? Click <%= link_to 'here', @url %>.<br/><br/>

All the best,<br/>
The VoterVOX Team