<main class="dashboard">

	<div class="wrapper">

		<section class="organizations">

			<h1>List of Organizations</h1>

			<ul>
				<% @organizations.sort_by(&:name).each do |organization| %>
				<li>
				<%= organization.name %> <%= link_to 'Delete', organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-outline decline" %>
				</li>
				<% end %>
			</ul>
			
			<div>
			<%= link_to 'Add Organization', new_organization_path, class: "button add" %>
			</div>

		</section><!--.organizations-->

	</div><!--.wrapper-->

</main><!--.dashboard-->
