<main class="page">
	<div class="wrapper">
		<h1>About VoterVOX</h1>
		
		<h2>What is VoterVOX?</h2>

		<p>VoterVOX is a translation app that connect bilingual AAPIs with limited English proficient voters in their communities to make sure every eligible voter has access to a translated ballot and voting information, for every election. In addition to connecting volunteers and voters. VoterVOX assists voters in ordering a mail-in ballot and is also a dynamic resource that builds on the previous efforts of translators to make voting possible for millions of citizens who face language barriers or feel intimidated by the process of exercising their rights.</p>
		<p>Language barriers and discrimination prevent voting access for millions of limited English speakers. Millions of multilingual speakers forget the power they have, from sharing family stories to making sense of vital documents.</p>
		<blockquote>Right now, our election system is messy and discriminatory</blockquote>
		<p>Imagine voting as a new citizen. It might takes years after coming to the United States in order to become eligible to vote. On election day, you make it to your polling place and make it throug the line - only to receive an English-language ballot that you can't figure out. YOu don't know exactly what youre voting for, or how to correctly fill it in. Poll workers give ou the cold shoulder because they can't really understand you, either.</p>
		<p>Frustrated and initmidated, you give up your political voice.</p>
		<p>Even if you're fluent in English, struggling with bureaucracy is real. Add the layer of a language barrier, and it becomes nearly impossible. Voting is particularlyl difficult, and since Asian American an dPacific Islander (AAPI) voters speak so many different languages and dialects, they are at special risk of being excluded.</p>
		<p>We know that people with limited English proficienty care just as smart or smarter than people who are fluent in English -- some may be our family elders. And AAPI voters want to vote, but they face barriers at every step. According to a 2012 exit poll from the Asian American Legal Defense and Education Fund, nearly 1 in 4 Asian Americans prefer to vote with help from an interpreter or translated materials. And while the Voting Rights Act mandates transalted voting ballots and materials, it' s only sometimes enforced, and only applies to districts with a "significant" number of citizens, determined by the Census. Meanwhile, the last Census is already 5 years out of date, and AAPIs are the fastest-growing racial demographic. The American Community Survey estimates the number of AAPIs who speak English less than fluently at nearly 7 million individuals.</p>
		<p>We can bridge the language and access gap by organizing multilingual volunteers around culture and community.</p>
	</div><!--.wrapper-->

</main>