<main class="dashboard">

	<div class="wrapper">
		<section class="message section-title">

			<h1>Sign up for an absentee ballot</h1>
			<p>Sign up to get your absentee ballot mailed to your home before the election</p>

		</section><!--.message-->
		<section>
		
			<iframe src="https://absentee.vote.org/?partner=408186&campaign=votervox" width="100%" marginheight="0" frameborder="0" id="frame2" scrollable="no"></iframe>
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js" ></script>
			<script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>

		</section>
	</div><!--.wrapper-->

</main><!--.dashboard-->