<main class="page">

	<div class="wrapper about">

		<h1>Sign up for an absentee ballot</h1>

		<p>VoterVOX is a translation app that connect bilingual AAPIs with limited English proficient voters in their communities to make sure every eligible voter has access to a translated ballot and voting information, for every election. In addition to connecting volunteers and voters. VoterVOX assists voters in ordering a mail-in ballot and is also a dynamic resource that builds on the previous efforts of translators to make voting possible for millions of citizens who face language barriers or feel intimidated by the process of exercising their rights.</p>
		<iframe src="https://absentee.vote.org/?partner=408186&campaign=votervox" width="100%" marginheight="0" frameborder="0" id="frame2" scrollable="no"></iframe>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js" ></script>
		<script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>

	</div><!--.wrapper-->

</main><!--.page-->