<main class="page">

	<div class="wrapper about">

		<h1>VoterVOX Community Guidelines</h1>
		
		<p>When you sign up to use VoterVOX, either as a voter or a volunteer, you’re joining a community of people committed to making our country more inclusive and just. You’re also taking a very special kind of responsibility for that community -- and so we wanted to lay out some community agreements and expectations of all users, voters and volunteers, to make the VoterVOX experience exemplary. There are five, and they’re pretty straightforward.</p>

		<h2>1. Honesty.</h2>

		<p>Be real about who you are and what your capacities are. Represent yourself accurately and with humility and care.</p>

		<h2>2. Reciprocity.</h2>

		<p>Treat people with respect, and expect respect in return. Help out where assistance is needed, and offer assistance where you are able. If you aren’t getting what you need, ask for it.</p>

		<h2>3. Patience.</h2>

		<p>The work of interpretation is challenging and complex. Have patience with others who are using VoterVOX, whether they’re voters or volunteers. Most of all, have patience with yourself. It’s hard to get everything right the first time, and we all have a lot to learn.</p>

		<h2>4. Professionalism.</h2>

		<p>Be attentive to people’s boundaries. Ask respectful questions. Be on time and prepared. Bring your best self and take pride in your work and community.</p>

		<h2>5. Have fun.</h2>

	</div><!--.wrapper-->

</main><!--.page-->