<section class="hero">

	<div class="content">
		<h1>Democracy in Every Language</h1>
		<div class="tagline">
			VoterVOX connects volunteers and individuals who need help voting in their language.
		</div>
	</div><!--.content-->
	
</section><!--.hero-->

<section class="getting-started">
	<div class="wrapper">
		<h2>Get Started</h2>
		<form>
			<label for="language">Select your language</label>
			<select name="language" id="language">
				<option value="english" default>English</option>
				<option value="spanish">Spanish</option>
				<i class="fa fa-caret-down"></i>
			</select>
			<a class="button find-a-translator" href="/voters/new">Find a Translator</a>
			<a class="be-a-translator button" href="/volunteer/sign_up">Be a Translator</a>
		</form>
		

	</div><!--.wrapper-->

</section> <!--.getting-started-->

<section class="how-it-works">
	<div class="wrapper">
		<h2>How It Works</h2>
		<div class="step">			
			<div class="description">
				<div class="number">1</div><!--.number-->
				VoterVOX pairs a volunteer translator with a voter who needs help.
			</div><!--.description-->
			<img src="<% asset_path('persons.jpg')%>">
			<div class="clear-fix"></div>
		</div><!--.step-->
		<div class="step">
			<img src="<% asset_path('forms.jpg')%>" >
			<div class="description">
				<div class="number">2</div><!--.number-->
				A local VoterVOX volunteer translator meets with a voter to help them understand their ballot.
			</div><!--.description-->
			<div class="clear-fix"></div>
		</div><!--.step-->
		<div class="step">
			
			<div class="description">
				<div class="number">3</div><!--.number-->
				The volunteer uploads the translations for others to use and build on.
			</div><!--.description-->
			<img src="<% asset_path('persons.jpg')%>" class="float-right">
			<div class="clear-fix"></div>
		</div><!--.step-->

	</div><!--.wrapper-->

</section>