<main class="page">
	<div class="wrapper">
	
		<h1>Privacy Policy</h1>
		<hr/>
		<h2>How We Share Your Information: TODO</h2>
		<p>Personally Identifiable Information: VoterVOX will not rent or sell your personally identifiable information to others. We may store personal information in locations outside the direct control of VoterVOX (for instance, on servers or databases co-located with hosting providers). Any personally identifiable information you elect to make publically available on the Service will be available to other Users. If you remove information that you have made public on the Service, copies may remain viewable in cached and archived pages of the Service, or if other Users have copied or saved that information.</p>
		<p>Non-Personally Identifiable Information: We may share non-personally identifiable information (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them understand the usage patterns for certain VoterVOX services and those of our partners. Non-personally identifiable information may be stored indefinitely.</p>
		<p>We can bridge the language and access gap by organizing multilingual volunteers around culture and community.</p>

	</div><!--.wrapper-->

</main><!--.page-->