<main class="dashboard">
	<div class="wrapper">
		<section class="message">
			<div class="wrapper">
				<h1>Thank you for your feedback!</h1>
				<p><%= t('feedback.thank_you')%></p>			
			</div>
		</section><!--.message-->
		<section>
			<div class="share-with-community">
				<h2>Please share VoterVOX with your community.</h2>
				<div class="buttons">
					<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="" class=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
					<div class="clear-fix"></div>
				</div><!--.buttons-->

			</div><!--.share-with-community-->

		</section>

	</div><!--.wrapper-->
</main>